.wrapper {
  display: flex;
  justify-content: space-evenly;
  width: max-content;
}
ul#albums_list {
  list-style-type: none;
}
.wrapper > ul#albums_list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

ul,
li#albums_list {
  list-style-type: none;
  text-decoration: none;
  padding: 0;
}

img {
  display: flex;
  padding: 10px;
  border-radius: 25%;
  -webkit-border-radius: 25%;
  -moz-border-radius: 25%;
  -ms-border-radius: 25%;
  -o-border-radius: 25%;
}
li {
    cursor: pointer;
    padding: 10px;
    color: blue;
}